li {
    display: inline-block;
    background: #ca181a;
    margin-right: 3px;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    transform: skewX(-30deg);
   }
   a {
    color: #fff;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    transform: skewX(30deg);
   }
   li:hover {
    background: #333;
   }
